<section id="inner-page">
  <div class="container">
    <div class="center">
      <h2>Todo List</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form>
          <input type="text" name="txt_task" placeholder="Task Name" />
          <input type="submit" name="action" value="add" />
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col=lg-12">
        {{data.TodoList}}
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/#inner-page-->

<div class="color-border"> </div>